html, body {
    height: 100%;
    margin: 0
}

.blue-background {
    background-color: blue; 
}    
 
.red-background{
	background-color: red; 
}

.button-color {
    background-color:red;
}

.button-color-blue {
    background-color: blue;
}

.purple {
	background-color: purple; 
}

