body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
#movie-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.list-item {
  margin: 10px;
}
