html, body {
    height: 100%;
    margin: 0
  }

.container {
    display: grid;
    grid-template: 1fr 275px 1fr / 50% 50%;
    grid-column-gap: 20px;
    width: 900px;
    height: 100%;
    margin: auto;
}

.one {
    grid-area: 2 / 1/ 2/ 1;
    font-family: Helvetica;
    border: 0.5px solid gray;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0.2px rgba(169, 169, 169, 0.4);
} 

.two {
    box-sizing: border-box;
    grid-area: 2 / 2/ 2/ 2;
    font-family: Helvetica;
    border: 0.5px solid gray;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0.2px rgba(169, 169, 169, 0.4);
}

.koptekst {
    margin-left: 20px;
}

.afbeelding {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.status {
    margin-left: 20px;
    font-size: 20px;
    color: gray;
    margin-top: -10px;
}

.melding {
    margin-left: 20px;
    color: rgb(88, 84, 84);
    font-size: 20px;
    margin-right: 20px;
}

.buttoms {
    border-top: 1px solid rgb(224, 224, 224);
    display: grid;
    grid-template: 20px 1fr 20px / 20px 1fr 1fr 20px;
}

.approve {
    grid-area: 2 / 2 / 2 / 2;
    color: rgb(28, 177, 35);
    border-left: 2px solid rgb(28, 177, 35);
    border-top: 2px solid rgb(28, 177, 35);
    border-bottom: 2px solid rgb(28, 177, 35);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center; 
}

.Decline {
    grid-area: 2 / 3 / 2 / 3;
    color: rgb(207, 37, 37);
    border: 2px solid rgb(207, 37, 37);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    text-align: center;
}


